.info{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info--photo-div img{
  width: 317px;
  height: 317px;
}
.info--content-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 21px;
}
.info--name{
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
.info--title{
  color: #F3BF99;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  margin-top: 7px;
  text-align: center;
}
.info--link-div{
  margin: 0;
  height: 14px;
  margin-top: 7px;
}
.info--link{
  text-decoration: none;
  font-weight: 400;
  font-size: 10.25px;
  color:#DCDCDC;
}
.info--link:hover{
  font-size: 12px;
  font-weight: 500;
  color:rgb(58, 107, 153);
}
.info--button-div{
  margin: 0;
  margin-top: 16px;
  padding: 0;
  align-self: center;
  width: 247px;
  height: 34px;
}
.info--mailtobutton{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 100%;
  height: 100%;
  gap: 8px;
  text-decoration: none;
  letter-spacing: .5px;
}
.info--mailtobutton img{
  height: 16px;
  width: 16px;
}